
{% include 'home/topbar.html.twig' %}
<div class="container mb-4">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('app_home') }}" class="nav-link px-2 text-secondary">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catalog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_car_list_all') }}">List View</a></li>
                        <li><a class="dropdown-item" href="#">Grid View</a></li>
                        {% if is_granted('ROLE_USER') %}
                        <li><a class="dropdown-item" href="{{ path('app_car_make_form') }}">Add Car Make</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vendor
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sell</a></li>
                        <li><a class="dropdown-item" href="#">Ad promotion</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 text-secondary">About</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary"><i class="bi bi-question-circle"></i> Help Center</a></li>
            </ul>
            <div class="text-end">
                <a href="#" class="btn border-secondary rounded-circle me-2 position-relative">
                    <i class="bi bi-heart text-secondary"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> 9+
    <span class="visually-hidden">unread messages</span>
  </span>
                </a>
                {% if app.user %}
                    <button class="btn border-0 text-white nav-item dropdown" style="">
                        <a class=" nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i> Account
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Personal Info</a></li>
                            <li><a class="dropdown-item" href="#">Security</a></li>
                            <li><a class="dropdown-item" href="#">My Cars</a></li>
                            <li><a class="dropdown-item" href="#">Wish List</a></li>
                            <li><a class="dropdown-item" href="#">Reviews</a></li>
                            <li><a class="dropdown-item" href="#">Notifications</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-in-left"></i> Log Out</a></li>

                        </ul>
                    </button>
                {% else %}
                    <a href="{{ path('app_login') }}" type="button" class="btn border-primary text-primary shadow me-2"><i class="bi bi-person"></i> Sign in</a>
                {% endif %}
                <a href="{{ path('app_car_add') }}"  class="btn btn-primary shadow text-white"> <i class="bi bi-plus-circle"></i> Sell Car</a>
            </div>
        </div>
    </div>
