<div class="row bg-white">
    <div class="d-flex justify-content-between p-4 my-1">
        <div class="p-2"><h4 class="p-2">LATEST</h4></div>
        <div class="p-2"><a href="{{ path('app_car_list_all') }}" class="btn btn-outline-secondary shadow-sm">View alL <i class="bi bi-arrow-right"></i></a> </div>
    </div>
</div>
<div class="row bg-white p-4 my-2">
<div class="owl-carousel owl-theme owl-lazy owl-loaded owl-drag">
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2376px;">
            {% for cars in cars %}
            <div class="owl-item active" style="width: 178px; margin-right: 20px;">
                <div class="item">
                    <div class="col mb-4">
                        <!-- Card -->
                        <div class="card card-bordered shadow-none h-100">
                            <div class="card-pinned">
                                <img style="height: 170px" class="card-img-top" src="{{ asset('/uploads/' ~cars.carFilename) }}" alt="Image Description">
                            </div>
                            <div class="card-body">
                                <h6 style="font-size: 10px" class="card-title  position-relative">
                                    <a href="/car/list/chevrolet%20tahoe" class="text-dark"> {{ cars.title | upper }} </a>

                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                                         New
                                     </span>

                                </h6>
                                <h5 style="font-size: 13px" class="card-subtitle my-1">
                                    {{ cars.price | format_currency('UGX') }}
                                </h5>
                                <div class="card-text" style="font-size: 12px;">
                                    <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-between flex-wrap">
                                        <div>
                                            <p class="me-3"> <i class="bi bi-car-front"></i> {{ cars.make }} {{ cars.modelYear }}</p>
                                        </div>

                                        <div>
                                            <p class="me-1">
                                                <i class="bi bi-geo-alt"></i> {{ cars.location }}
                                            </p>
                                        </div>
                                    </div>
                                        <div class="d-flex justify-content-between flex-wrap">
                                        <div>
                                            <span style="background:#D2f4EA;" class="pe-1 badge rounded-pill text-secondary"><small>Negotiable </small> </span>
                                        </div>
                                            <div>
                                               <span><small>Uploaded {{ cars.createdAt | ago }} </small> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <button class="btn">
                                            <i class="bi bi-share"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <button class="btn">
                                            <i class="bi bi-heart"></i>
                                        </button>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <!-- End Card -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>