<div class="row row-cols-sm-2 row-cols-md-3 mb-10">
    {%  for car in pager %}
    <div class="col mb-4">
        <!-- Card -->
        <div class="card card-bordered shadow-none h-100">
            <div class="card-pinned">
                <img style="height: 170px" class="card-img-top w-100" alt="{{ car.title }}" src="{{ asset('uploads/'~car.carFilename) }}" alt="Image Description">
            </div>
            <div class="card-body">
                <h6 style="font-size: 12px" class="card-title  position-relative">
                    <a href="{{ path('app_car_show',{title: car.title}) }}" class="text-dark text-uppercase"> {{ car.title }} </a>

                    {% if car.carcondition == 'New' %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                        New
                    </span>
                    {% endif %}

                </h6>
                <div class="card-text" style="font-size: 12px;">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action border-0" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="text-secondary" style="font-size: 14px"> {{ (car.price / 1000000) | format_currency('UGX') }} M</h5>
                                <small><span style="background:#D2f4EA;" class="mb-3 badge rounded-pill text-secondary"><small>Negotiable </small> </span>
                                </small>
                            </div>
                            <p class="mb-1">
                                <i class="bi bi-car-front"></i>
                                {{ car.carmake.name | default('') }}
                                {{ car.modelyear }}
                                <i class="bi bi-geo-alt"></i>
                                {{ car.location }}
                            </p>
                            <small> {{ car.createdAt | ago }}</small>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <button class="btn btn-sm btn-outline-secondary">
                            View Details
                            <i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-sm">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </div>


            </div>

        </div>
        <!-- End Card -->
    </div>
    {% else %}
    <div class="alert alert-danger">
        No Results found !
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            {{ pagerfanta(pager) }}
        </div>
    </div>

</div>